[Desktop Entry]
Encoding=UTF-8
Name=KToon: A 2D Animation toolkit
Name[es]=KToon: Herramienta para animacion 2D
Exec=ktoon
Icon=ktoon.png
Type=Application
#MimeType=
#DocPath=
Categories=Application;Graphics;2DGraphics;RasterGraphics;
Comment=A 2D animation toolkit
Comment[es]=Herramienta para animacion 2D
Terminal=false

