<html>
	<meta>
		<title>KToon Administer</title>
		<%= stylesheet_link_tag "scaffold", "depot", :media => "all" %>
	</meta>
	<body>
		<div id="main">
			<% if flash[:notice] -%>
				<div id="notice"><%= htmlesc flash[:notice] %></div>
			<% end -%>
			<%= @content_for_layout %>
		</div>
	</body>
</html>

