
<p><label for="reg_login"><%= i18n("Login") %></label><br/>
<%= text_field 'reg', 'login'  %></p>

<p><label for="reg_name"><%= i18n("Name")%></label><br/>
<%= text_field 'reg', 'name'  %></p>

<p><label for="reg_email"><%= i18n("Email")%></label><br/>
<%= text_field 'reg', 'email'  %></p>

<p><label for="reg_commens"><%= i18n("Comments")%></label><br/>
<%= text_area 'reg', 'comments', :cols => 30, :rows => 10  %></p>

