body {
     body {background-image:url('paper.gif');
}

.title {
     margin-left:10px;
     color:#000000;
     text-align:left;
     text-decoration:underline;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:16px;
     font-weight:bold;
}

.subtitle {
     color:#000000;
     text-align:center;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:16px;
     font-weight:bold;
}

.paragraph {
     margin-left:10px;
     margin-right:10px;
     color:#000000;
     text-align:justify;
     text-decoration:none;
     font-family:"Times New Roman", Times, serif;
     font-style:normal;
     font-size:14px;
     font-weight:normal;
}
