
<p><label for="serverconfig_repository">Repository</label><br/>
<%= text_field 'serverConfig', 'repository'  %></p>

<p><label for="serverConfig_host">Host</label><br/>
<%= text_field 'serverConfig', 'host'  %></p>

<p><label for="serverConfig_port">Port</label><br/>
<%= text_field 'serverConfig', 'port'  %></p>
