<table>
	<tr>
		<th>Repository</th>
		<th>Host</th>
		<th>Port</th>
	</tr>
	<tr>
		<td><%= @serverConfig.repository %></td>
		<td><%= @serverConfig.host %></td>
		<td><%= @serverConfig.port %></td>
	</tr>
</table>

