<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>KToonD Config</title>
		<%= stylesheet_link_tag "master", :media => "all" %>
	</head>
	<body class="about">
		<div id="main">
			<div id="main-nav">
				<dl>
					<dt id="navitem"><%= link_to i18n("About"), { :controller => 'mainpage', :action => 'index' } %></dt>
					<dt id="navitem"><%= link_to i18n("Server config"), { :controller => 'server_config', :action => 'show' } %></dt>
					<dt id="navitem"><%= link_to i18n("Register"), { :controller => 'register', :action => 'index' } %></dt>
				</dl>
			</div>
			<div id="header">
				<h1><a href="http://ktoon.toonka.com" target="blank_">KToon | Team</a></h1>
			</div>
			
			<div id="sidebar-a">
				<div class="padding">
					<% if not flash[:sidebar].nil? %>
						<div class="side-menu">
						<dl>
						<% flash[:sidebar].keys.reverse_each { |link| %>
							<dt> <%= link_to link, flash[:sidebar][link] %> </dt>
						<% } %>
						</dl>
						</div>
					<% end -%>
				</div>
			</div>
			
			<div id="content">
				<% if flash[:notice] -%>
					<div id="notice">
						<%= h flash[:notice] %>
					</div>
				<% end -%>
				<%= @content_for_layout %>
			</div>
			
			<div id="footer">
				<div id="altnav">
					<%= link_to i18n("About"), { :controller => 'mainpage', :action => 'index' } %> - 
					<%= link_to i18n("Server config"), { :controller => 'server_config', :action => 'show' } %> - 
					<%= link_to i18n("Register"), { :controller => 'register', :action => 'index' } %>
				</div>
				Copyright &copy; KToon Team
			</div>
		</div>
	</body>
</html>

